<a href="https://colab.research.google.com/github/bbeck0744/WISKI_WQ_Lakes/blob/master/lake_API_Call_colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#only run this section of script if you haven't run this script before
!pip install geopandas

Collecting geopandas
  Downloading https://files.pythonhosted.org/packages/f7/a4/e66aafbefcbb717813bf3a355c8c4fc3ed04ea1dd7feb2920f2f4f868921/geopandas-0.8.1-py2.py3-none-any.whl (962kB)
     |████████████████████████████████| 972kB 5.4MB/s
Requirement already satisfied: shapely in /usr/local/lib/python3.6/dist-packages (from geopandas) (1.7.1)
Collecting pyproj>=2.2.0
  Downloading https://files.pythonhosted.org/packages/e5/c3/071e080230ac4b6c64f1a2e2f9161c9737a2bc7b683d2c90b024825000c0/pyproj-2.6.1.post1-cp36-cp36m-manylinux2010_x86_64.whl (10.9MB)
     |████████████████████████████████| 10.9MB 30.2MB/s
Requirement already satisfied: pandas>=0.23.0 in /usr/local/lib/python3.6/dist-packages (from geopandas) (1.0.5)
Collecting fiona
  Downloading https://files.pythonhosted.org/packages/85/52/4ea26c566c401b2a7337549a42141a6552cf71744d970114e59126b05ed6/Fiona-1.8.15-cp36-cp36m-manylinux1_x86_64.whl (14.7MB)
     |████████████████████████████████| 14.8MB 319kB/s
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (1.18.5)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (20.1.0)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (1.15.0)
Collecting click-plugins>=1.0
  Downloading https://files.pythonhosted.org/packages/e9/da/824b92d9942f4e472702488857914bdd50f73021efea15b4cad9aca8ecef/click_plugins-1.1.1-py2.py3-none-any.whl
Collecting cligj>=0.5
  Downloading https://files.pythonhosted.org/packages/e4/be/30a58b4b0733850280d01f8bd132591b4668ed5c7046761098d665ac2174/cligj-0.5.0-py3-none-any.whl
Requirement already satisfied: click<8,>=4.0 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (7.1.2)
Collecting munch
  Downloading https://files.pythonhosted.org/packages/cc/ab/85d8da5c9a45e072301beb37ad7f833cd344e04c817d97e0cc75681d248f/munch-2.5.0-py2.py3-none-any.whl
Installing collected packages: pyproj, click-plugins, cligj, munch, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.5.0 fiona-1.8.15 geopandas-0.8.1 munch-2.5.0 pyproj-2.6.1.post1

In [ ]:
import requests
import pandas as pd
from datetime import datetime
import geopandas
from shapely.geometry import Point

In [ ]:
#selects previous year to calculate annual water quality averages
currentYear = datetime.now().year-1
#Water quality calculation are typically calculated for the "summer average", which is defined as June through September by the MCPA
start_date = f"{currentYear}-06-01"
end_date = f"{currentYear}-09-30"
#select data from lake sites only
site_type = "LK_STATION"
#output data as json
output_type = f"objson"
#base WISKI API URL
base_url = f"http://gis.minnehahacreek.org/KiWIS/"
#site and water quality data API urls to get site lat/longs and water quality data
site_url = f"{base_url}/KiWIS?datasource=0&format={output_type}&from={start_date}&to={end_date}&request=getwqmstationlist&service=kisters&object_type_shortname={site_type}&type=queryServices"
wq_data_url = f"{base_url}/KiWIS?datasource=0&format={output_type}&from={start_date}&to={end_date}&request=getwqmsamplevalues&service=kisters&object_type_shortname={site_type}&type=queryServices"

In [ ]:
#site API get request
site_response = requests.get(site_url)
sites = site_response.json()

In [ ]:
#water quality API get request
data_response = requests.get(wq_data_url)
WQ = data_response.json()

In [ ]:
#create dataframes from get requests
sites_df = pd.DataFrame(sites)
WQ_df = pd.DataFrame(WQ)

#merge dataframes 
data_merge = pd.merge(WQ_df, sites_df, on="station_no", how="left")
data_merge

     station_no      station_name_x  ... catchment_name sh_district
0         LAU03  Auburn Lake - East  ...            ---         ---
1         LAU03  Auburn Lake - East  ...            ---         ---
2         LAU03  Auburn Lake - East  ...            ---         ---
3         LAU03  Auburn Lake - East  ...            ---         ---
4         LAU03  Auburn Lake - East  ...            ---         ---
...         ...                 ...  ...            ...         ...
6083      LWS01     Wassermann Lake  ...            ---         ---
6084      LWS01     Wassermann Lake  ...            ---         ---
6085      LWS01     Wassermann Lake  ...            ---         ---
6086      LWS01     Wassermann Lake  ...            ---         ---
6087      LWS01     Wassermann Lake  ...            ---         ---

[6088 rows x 15 columns]

In [ ]:
#data processing to obtain lake total phosphorus, clarity (SD), and algae (chl-a)
data_merge['station_no_parameter'] = data_merge['station_no'] + '-' + data_merge['parametertype_name']  
WQ_subset = data_merge[(data_merge["parametertype_name"] == "TP") | (data_merge["parametertype_name"] == "SD") | (data_merge["parametertype_name"] == "ChlA")]
WQ_subset

     station_no      station_name_x  ... sh_district station_no_parameter
0         LAU03  Auburn Lake - East  ...         ---           LAU03-ChlA
1         LAU03  Auburn Lake - East  ...         ---           LAU03-ChlA
2         LAU03  Auburn Lake - East  ...         ---           LAU03-ChlA
3         LAU03  Auburn Lake - East  ...         ---           LAU03-ChlA
4         LAU03  Auburn Lake - East  ...         ---           LAU03-ChlA
...         ...                 ...  ...         ...                  ...
6075      LWS01     Wassermann Lake  ...         ---             LWS01-TP
6076      LWS01     Wassermann Lake  ...         ---             LWS01-TP
6077      LWS01     Wassermann Lake  ...         ---             LWS01-TP
6078      LWS01     Wassermann Lake  ...         ---             LWS01-TP
6079      LWS01     Wassermann Lake  ...         ---             LWS01-TP

[556 rows x 16 columns]

In [ ]:
#calculate annual averages
result = WQ_subset.groupby('station_no_parameter', as_index=False).mean()
result

   station_no_parameter      value  station_latitude  station_longitude
0            LAU03-ChlA  41.750000         44.863900         -93.679600
1              LAU03-SD   1.068750         44.863900         -93.679600
2              LAU03-TP   0.195438         44.863900         -93.679600
3            LCH01-ChlA   1.111429         44.899200         -93.537800
4              LCH01-SD   8.471429         44.899200         -93.537800
..                  ...        ...               ...                ...
64             LVI01-SD   1.285714         44.883296         -93.635697
65             LVI01-TP   0.427000         44.883296         -93.635697
66           LWS01-ChlA  52.175000         44.841000         -93.673710
67             LWS01-SD   0.890000         44.841000         -93.673710
68             LWS01-TP   0.363250         44.841000         -93.673710

[69 rows x 4 columns]

In [ ]:
#iterate through keys to find original lake names and lab analysis unit values
units = []
lake_name = []

for i in result.station_no_parameter:
    units.append(WQ_subset['unit_symbol'][WQ_subset['station_no_parameter'] == i].iloc[0])
    lake_name.append(WQ_subset['station_name_y'][WQ_subset['station_no_parameter'] == i].iloc[0])
result.insert(2, 'unit_symbol', units)
result.insert(1, 'station_name_y', lake_name)

In [ ]:
split_data = result.station_no_parameter.str.split('-', expand=True).rename({0: 'Site', 1: 'Parameter'}, axis=1)
split_data

     Site Parameter
0   LAU03      ChlA
1   LAU03        SD
2   LAU03        TP
3   LCH01      ChlA
4   LCH01        SD
..    ...       ...
64  LVI01        SD
65  LVI01        TP
66  LWS01      ChlA
67  LWS01        SD
68  LWS01        TP

[69 rows x 2 columns]

In [ ]:
#combine the split columns and result dataframe
wq_combined = pd.concat([split_data, result], axis=1)
wq_combined

     Site Parameter  ... station_latitude  station_longitude
0   LAU03      ChlA  ...        44.863900         -93.679600
1   LAU03        SD  ...        44.863900         -93.679600
2   LAU03        TP  ...        44.863900         -93.679600
3   LCH01      ChlA  ...        44.899200         -93.537800
4   LCH01        SD  ...        44.899200         -93.537800
..    ...       ...  ...              ...                ...
64  LVI01        SD  ...        44.883296         -93.635697
65  LVI01        TP  ...        44.883296         -93.635697
66  LWS01      ChlA  ...        44.841000         -93.673710
67  LWS01        SD  ...        44.841000         -93.673710
68  LWS01        TP  ...        44.841000         -93.673710

[69 rows x 6 columns]

In [ ]:
#Convert coordinates  into point data for GIS processing
wq_combined['coordinates'] = wq_combined[['station_longitude', 'station_latitude']].values.tolist()
wq_combined['coordinates'] = wq_combined['coordinates'].apply(Point)
Lake_WQ_Data = geopandas.GeoDataFrame(wq_combined, geometry='coordinates')

In [ ]:
Lake_WQ_Data

     Site Parameter  ... station_longitude                 coordinates
0   LAU03      ChlA  ...        -93.679600  POINT (-93.67960 44.86390)
1   LAU03        SD  ...        -93.679600  POINT (-93.67960 44.86390)
2   LAU03        TP  ...        -93.679600  POINT (-93.67960 44.86390)
3   LCH01      ChlA  ...        -93.537800  POINT (-93.53780 44.89920)
4   LCH01        SD  ...        -93.537800  POINT (-93.53780 44.89920)
..    ...       ...  ...               ...                         ...
64  LVI01        SD  ...        -93.635697  POINT (-93.63570 44.88330)
65  LVI01        TP  ...        -93.635697  POINT (-93.63570 44.88330)
66  LWS01      ChlA  ...        -93.673710  POINT (-93.67371 44.84100)
67  LWS01        SD  ...        -93.673710  POINT (-93.67371 44.84100)
68  LWS01        TP  ...        -93.673710  POINT (-93.67371 44.84100)

[69 rows x 7 columns]